@model Database
<div class="item">
    <dl>
        <dt>Item</dt>
        <dd>@Model.Item</dd>

        <dt>Price</dt>
        <dd>@Model.Price</dd>

        <dt>Unit</dt>
        <dd>@Model.Unit</dd>

        <dt>ContactName</dt>
        <dd>
            @Model.ContactName
        </dd>

        <dt> ContactNumber</dt>
        <dd> @Model.ContactNumber</dd>
    </dl>
</div>

